body{
	font-family: ukij ekran;
	text-align: center;
}
.header{
	direction: rtl;
	background: #1ABC9C;
	height: 300px;
}
.header .navbar{
	background: #34495E;
}
.header .nav{
	text-align: right;
	height: 50px;
	width: 960px;
	margin: 0 auto;
}
.header .navbar li{
	float: right;
	line-height: 50px;
	margin-left: 15px;
}
.header .navbar li a{
	color: #BDC3C7;
}
.header .banner{
	color:#C0392B;
}
