body{
	font-family: ukij ekran;
	text-align: center;
}
.header{
	direction: rtl;
	background: #3498DB;
	height: 300px;
}
.header .navbar{
	background: #2C3E50;
}
.header .nav{
	text-align: right;
	height: 50px;
	width: 960px;
	margin: 0 auto;
}
.header .navbar li{
	float: right;
	line-height: 50px;
	margin-left: 15px;
}
.header .navbar li a{
	color: #ECF0F1;
}
.header .navbar li a:hover{
	color: #BDC3C7;
}
.header .banner{
	color:#ECF0F1;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.posts .item{
	width: 100%;
	display: table;
	text-decoration: none;
	color: #777777;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	margin-top: 1em;
	background-color: #ECF0F1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.posts .item .right {
    display: table-cell;
    padding: 15px;
    text-align: right;
}
.posts .item .left{
	display: table-cell;
    vertical-align: middle;
    width: 12%;
    background-color: #3498DB;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}
.article{
	padding-top: 20px;
	padding-bottom: 30px;
}
.ug{
	text-align: right;
}
.footer{
	width: auto;
	height: auto;
	background: #2C3E50;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 30px;
}


