<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/typo.css" />
<link rel="stylesheet" type="text/css" href="/css/ilham.css" />
<title>Ilham Corner</title>
</head>

<div class="header">
	<div class="navbar">
		<ul class="nav">
			<li><a href="http://ilhamxyz.github.io/">باشبەت</a></li>
			<li><a href="">ھايات</a></li>
		</ul>
	</div>
	<div class="banner">
		<h3>{{ page.title }}</h3>
		<p>ھايات</p>
		<p>.....................................................................................................</p>
	</div>
</div>

<div class="container">
	{{ content }}
</div>

<div class="footer">
	<div class="container">
		<img src="images/subat.gif">
	</div>	
</div>
</html>
