<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/typo.css" />
<link rel="stylesheet" type="text/css" href="/css/ilham.css" />
<title>Ilham Corner</title>
</head>

<div class="header">
	<ul class="navbar">
		<li><a href="http://ilhamxyz.github.io/">home</a></li>
		<li><a href="">work</a></li>
	</ul>
</div>

<div class="container">
	{{ page.title }}
	{{ content }}
</div>

</html>